* {
  box-sizing: border-box;
}
section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 100px;
  border: 1px solid red;
  margin-bottom: 10px;
  padding: 5px;
}
.flex-direction__column { flex-direction: column; }
.justify-content__space-between { justify-content: space-between; }
.justify-content__center { justify-content: center; }
.align-items__flex-start { align-items: flex-start; }
.automatic-box-height { height: auto; }
.ball { border-radius: 100%; }
.green { background-color: green; }
.blue { background-color: blue; }
.red { background-color: red; }
.yellow { background-color: yellow; }
.black { background-color: black; }
.medium {
  width: 50px;
  height: 50px;
}

#exercise-1 {
  -webkit-animation: moving-l 3s 1s;
  animation: moving-l 3s 1s;
}

@keyframes moving-l {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 90%;
  }
}

#exercise-2 {
  -webkit-animation: moving-l 2s 2s normal forwards;
  animation: moving-l 2s 2s normal forwards;
}

#exercise-3 {
  -webkit-animation: moving-l 1s 1s alternate 2;
  animation: moving-l 1s 1s alternate 2;
}

#exercise-4:hover {
  -webkit-animation: moving-l 5s running;
  animation: moving-l 5s running;
}

#section-5:hover #exercise-5 {
  -webkit-animation: moving-l 5s running;
  animation: moving-l 5s running;
}

/* #exercise-6-square:hover #exercise-6 {
  -webkit-animation: moving-l 5s reverse paused;
  animation: moving-l 5s reverse paused;
} */

#exercise-7 {
  animation: growing 10s infinite;
}

@keyframes growing {
  0% {
    width: 50px;
    height: 50px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

#exercise-8 {
  animation: maincolor 4s;
}

@keyframes maincolor {
  0%{
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
}

#exercise-9 {
  animation: colors 4s;
}

@keyframes colors {
  0%{
    background-color: red;
  }
  33%{
    background-color: yellow;
  }
  66%{
    background-color: blue;
  }
  100%{
    background-color: green;
  }
}

#exercise-10 {
  animation: mudancas 10s infinite;
}

@keyframes mudancas {
  0%{
    background-color: red;
    width: 50px;
    height: 50px;
  }
  33%{
    background-color: yellow;
  }
  66%{
    background-color: blue;
  }
  100%{
    background-color: green;
    width: 100%;
    height: 100%;
  }
}

#exercise-11_1 {
  animation: fivesquares 3s 2s linear;
}
#exercise-11_2 {
  animation: fivesquares 3s 2s ease-in-out;
}
#exercise-11_3 {
  animation: fivesquares 3s 2s ease-in;
}
#exercise-11_4 {
  animation: fivesquares 3s 2s ease-out;
}
#exercise-11_5 {
  animation: fivesquares 3s 2s ease-out;
}

@keyframes fivesquares {
  0%{
    margin-left: 0%;
  }
  90%{
    margin-left: 100%;
  }
}

#exercise-12 {
  
}